/* CSS Document */

body{
	text-align:center;
	color: white;
	margin: 0 auto;
	font-family:sans-serif;
	background: url(../images/bg.jpg);
}

.main{
	margin: 0 auto;
	width: 100%; 	
}

#activate{
	margin: 0 auto;
	background: url(../images/activate.png);
	width: 150px;
	height: 150px;
} 

