html {
	height: 100%;	
	background-color:#333;
}

body {
	font-family: "Myriad Pro" ;
	color: #fff;
	height: 100%;
	margin: 0;
	padding: 0;
	background: url(../images/bg.jpg);
	overflow: hidden;
}

#header {
	text-align:center;
	background: url(../images/bg.jpg);
	padding: 20px;
	position:fixed;
	z-index:4;
	top: 0;
	height: 40px;
	width: 100%;
	box-shadow: 0.5px 0.5px 8px;
	border-bottom: solid 3px #666;
}
#header a{
	text-decoration: none;	
	color: white;
	padding: 10px;
}
#header a:hover{
	color: #666;
}

#content {
	padding: 20px;
	position: relative;
	box-shadow: 1px 1px 15px;
	border-bottom: solid 4px #666;
	background-color:#333;
	height: 650px;
}

#sidebar {
	width: 230px;
	height: 300px;
	background: url(../images/green_arrow.png) 0px 130px no-repeat;
	position: fixed;
	top: 87px;
	right: 0px;
}

#sidebarContent {
	width: 200px;
	background-color: #80a637;
	color: #000;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 300px;
}

#footer {
	background: green;
	padding: 20px;
	background: url(../images/bg.jpg);
	color: #989898;
	font-size: 12px;
	text-align: center;
}

/*Game*/
#map_wrapper {
	top:-50;
	height:600px;
	width: 100%;
	/*Här var height och width 800px innan jag pillade*/
	margin: auto;
	position:relative;
}

#map_canvas {
	top:10;
	height: 100%;
	width: 100%;
	position:relative;
}

#helikopter {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 40px;
	width: 40px;
	z-index:20;
}

#message {
	position: absolute;
	left: 50%;
	top: 55%;
	color:black;
}

.game_choice_frame {
	width: 300px;
	height: 300px;
	border: 1px solid #ccc;
	margin: auto;
	text-align: center;
}

/***********MENYEN*************/

#drag_icon{
	margin: 0 auto;
	background: url(../images/drag_icon.png);
	height: 21px;
	margin-top: 25px;
	width: 50px;
	box-shadow: 0.5px 0.5px 8px;
}

#fb_login_logo{
	width: 180px;
	background: url(../images/fb_login.png);
	background-repeat:no-repeat;
	height: 25px;
}	

#fb_login {
	position:fixed;
	margin-top: -30px;
	right: 50px;
}