html {
	height: 100%
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	background: silver;
}

#header {
	background: gold;
	padding: 20px;
}

#fb_login {
	float: right;
}

#content {
	background: #fff;
	padding: 20px;
	position: relative;
}

#footer {
	background: green;
	padding: 20px;
}

/*Game*/
#map_wrapper {
	height: 800px;
	width: 800px;
	margin: auto;
	position:relative;
}

#map_canvas {
	height: 100%;
	width: 100%;
	position:relative;
}

#helikopter {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 40px;
	width: 40px;
}

#message {
	position: absolute;
	left: 700px;
	top: 600px;
}